@import url("../resources/css/nav-bar.css");
@import url("../resources/css/variables.css");

body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main .welcome-page{
  background-color: var(--primary);
  color: white;
  margin: 40px 10px;
  padding: 10px;
}