@import url("./components/variables.css");
@import url("./components/nav-bar.css");

body{
  background-color: var(--primary);
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome{
  background-color: white;
  margin: 50px 10px;
  border-radius: 10px;
  padding: 10px;
}