nav{
  background-color: white;
  text-align: center;
  padding: 20px;
  padding-bottom: 1px;
}
nav h1{
  margin: 0;
}
nav .nav-list{
  margin-top: 20px;
  margin-bottom: 7px;
}
nav .nav-list a{
  color: white;
  font-size: 20px;
  margin: 0px 3px;
  padding: 5px 20px;
  background-color: var(--secondary);
  border-radius: 10px;
}
nav .nav-list a:hover{
  opacity: .8;
}
nav .nav-list .choose{
  background-color: var(--primary);
  border-radius: 10px 10px 0px 0px;
  padding: 9px 20px;
}
nav .nav-list .choose:hover{
  opacity: 1;
}