.product{
  width: 220px;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}
.product img{
  width: 200px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 5px;
}
.product .product-info{
  margin: 10px;
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.product .product-info h2{
  margin: 0;
}