.product{
  width: 220px;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  padding: 2px;
}
.product img{
  width: 200px;
  margin: 10px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 0px;
}
.product .product-info{
  margin: 10px;
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  color: white;
  margin-top: 0px;
  padding-bottom: 20px;
}
.product .product-info h2{
  margin: 0;
}
.product .action-bar{
  padding: 10px;
  display: flex;
  justify-content: center;
  padding-top: 2px;
}
.product .action-bar a{
  margin: 2px 2px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.product .action-bar .buy{
  width: 80%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .action-bar .see-more{
  width: 20%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .action-bar .see-more i,
.product .action-bar .buy i
{
  font-size: 20px;
}
.product .product-info .tag{
  padding: 5px 10px;
  width: fit-content;
  border-radius: 20px;
  font-size: 13px;
  margin: 5px 0px;
  border: 2px solid white;
}