<style>
  .product{
    background-color: white;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }
</style>
<div class="product">
  <h2><%= product.productName %></h2>
  <p><%= product.productInfo %></p>
  <p>Giá: <span class="price"><%= product.productPrice %></span></p>
</div>