<style>
  .product{
    background-color: white;
    width: 200px;
    border-radius: 10px;
    padding: 15px 10px;
    margin: 10px;
    display: grid;
    grid-template-rows: 20% 65% 15%;
  }
  .product h2{
    margin: 0;
    background-color: var(--secondary);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
  }
  .product .product-info{
    background-color: var(--third);
    color: white;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
  }
  .action{
    display: flex;
  }
  .action a{
    width: 50%;
    font-size: 13px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0px 5px;
    text-align: center;
  }
  .action .buy{
    background-color: red;
  }
  .action .add-cart{
    background-color: green;
  }
  .star{
    color: yellow;
  }
</style>
<div class="product">
  <h2><%= product.name %></h2>
  <div class="product-info">
    <p><strong>Thông tin:</strong> <%= product.info %></p>
    <p><strong>Giá:</strong> <span class="price"><%= product.price %></span></p>
    <p><strong>Đánh giá:</strong> 0/5 <i class="bi bi-star-fill star"></i></p>
  </div>
  <div class="action">
    <a href="" class="buy">Mua ngay</a>
    <a href="" class="add-cart">Xem thêm</a>
  </div>
</div>