<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Phatcraft Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  </head>
  <style>
    :root{
      --primary:#205999;
      --secondary:#2e72bf;
    }
    body::-webkit-scrollbar{
      width: 10px;
    }
    body::-webkit-scrollbar-thumb{
      background-color: white;
    }
    body{
      margin: 0;
      background-color: var(--primary);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  </style>
  <body>
    <%- include('./components/nav.ejs') %>
    <%- body %>
  </body>
</html>

<!-- Currency -->
<script>
  var prices = document.getElementsByClassName("price")

  for(let price of prices){
    price.innerHTML = (parseInt(price.innerHTML)).toLocaleString('vi-VN', {
      style: 'currency',
      currency: 'vnd'
    })
  }
</script>