<style>
  main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  main #form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    text-align: center;
  }
  main #form .input{
    background-color: var(--secondary);
    margin: 5px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
  }
  main #form .input i{
    font-size: 20px;
  }
  main #form input{
    background-color: var(--secondary);
    border: 0;
    padding: 5px;
    color: white;
    outline: none;
    border-radius: 10px;
    margin: 0px 10px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px var(--third) inset !important;
    -webkit-text-fill-color: white !important;
  }
  main #form input::placeholder{
    color: white;
  }

  main #form button{
    background-color: red;
    color: white;
    border: 0;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
  }
  main #form p a{
    color: black;
  }
</style>
<main>
  <form id="form">
    <h2>Đăng ký</h2>
    <div class="input">
      <i class="bi bi-person-fill"></i>
      <input type="text" name="username" placeholder="Tên tài khoản">
    </div>
    <div class="input">
      <i class="bi bi-envelope-fill"></i>
      <input type="email" name="email" placeholder="Email">
    </div>
    <div class="input">
      <i class="bi bi-key-fill"></i>
      <input type="password" name="password" placeholder="Mật khẩu">
    </div>
    <div class="input">
      <i class="bi bi-key-fill"></i>
      <input type="password" name="confirm-password" placeholder="Xác nhận mật khẩu">
    </div>
    <button type="submit">Đăng ký</button>
    <p>Đã có tài khoản? <a href="/account/login">Đăng nhập ngay</a></p>
  </form>
</main>

<script>
  var form = document.getElementById("form")

  form.addEventListener("submit", (e) => {
    e.preventDefault()
    var formData = new FormData(form)

    // Get datas
    var username = formData.get("username")
    var email = formData.get("email")
    var password = formData.get("password")
    var confirm = formData.get("confirm-password")

    // Check password and confirm password
    if(password != confirm){
      alert("Mật khẩu và xác nhận mật khẩu không khớp. Vui lòng thử lại")
      return
    }

    // Fetch API

    alert(`Chào mừng đến với Phatcraft Shop, ${username}`)
    location.replace("/")
  })
</script>